In [37]:
import pandas as pd
df_sub2_esense = pd.read_csv('..\sensor_data\eSense_sbj2.csv', names=['time','Device','1','2','3','4','5','6','Label'], index_col=0)
#unixconversion
df_sub2_esense.index = pd.to_datetime(df_sub2_esense.index, unit='ms') + pd.Timedelta('02:00:00')
#upsampling & interpolation
df_sub2_esense = df_sub2_esense.resample('10.869565ms', origin='start').first().interpolate()
df_sub2_esense.sort_index()

,Device,1,2,3,4,5,6,Label
time,,,,,,,,
2021-04-14 19:00:07.664000000,eSense-0540,-0.875000,-0.154053,0.011719,-7.835366,7.591463,-3.079268,shooting
2021-04-14 19:00:07.674869565,None,-0.875515,-0.153727,0.010579,-8.113144,7.527100,-2.899729,None
2021-04-14 19:00:07.685739130,None,-0.876031,-0.153402,0.009440,-8.390921,7.462737,-2.720190,None
2021-04-14 19:00:07.696608695,None,-0.876546,-0.153076,0.008301,-8.668699,7.398374,-2.540650,None
2021-04-14 19:00:07.707478260,None,-0.877062,-0.152751,0.007161,-8.946477,7.334011,-2.361111,None
...,...,...,...,...,...,...,...,...
2021-04-14 19:42:09.153080005,None,-0.796582,0.252539,-0.619043,1.756098,5.981707,-0.603659,None
2021-04-14 19:42:09.163949570,None,-0.792261,0.255322,-0.613818,1.957317,6.170732,-2.213415,None
2021-04-14 19:42:09.174819135,None,-0.787939,0.258105,-0.608594,2.158537,6.359756,-3.823171,None
2021-04-14 19:42:09.185688700,None,-0.783618,0.260889,-0.603369,2.359756,6.548780,-5.432927,None
2021-04-14 19:42:09.196558265,eSense-0540,-0.779297,0.263672,-0.598145,2.560976,6.737805,-7.042683,None

In [38]:
df_sub2_ankle_dribbling = pd.read_csv('..\sensor_data\dribbling_sbj2_ankle.csv', index_col=0)
df_sub2_ankle_dribbling.index = pd.date_range(start='2021-04-14 ' + df_sub2_ankle_dribbling.index[0], periods = df_sub2_ankle_dribbling.shape[0], freq="10.869565ms")
#df_sub2_ankle_dribbling = df_sub2_ankle_dribbling.resample('10ms', origin='start').first().interpolate()

df_sub2_ankle_layup = pd.read_csv('..\sensor_data\layup_sbj2_ankle.csv', index_col=0)
df_sub2_ankle_layup.index = pd.date_range(start='2021-04-14 ' + df_sub2_ankle_layup.index[0], periods = df_sub2_ankle_layup.shape[0], freq="10.869565ms")
#df_sub2_ankle_layup = df_sub2_ankle_layup.resample('10ms', origin='start').first().interpolate()

df_sub2_ankle_shooting = pd.read_csv('..\sensor_data\shooting_sbj2_ankle_1.csv', index_col=0)
df_sub2_ankle_shooting.index = pd.date_range(start='2021-04-14 ' + df_sub2_ankle_shooting.index[0], periods = df_sub2_ankle_shooting.shape[0], freq="10.869565ms")
#df_sub2_ankle_shooting = df_sub2_ankle_shooting.resample('10ms', origin='start').first().interpolate()

df_sub2_ankle_movements = pd.read_csv('..\sensor_data\movements_sbj2_ankle_1.csv', index_col=0)
df_sub2_ankle_movements.index = pd.date_range(start='2021-04-14 ' + df_sub2_ankle_movements.index[0], periods = df_sub2_ankle_movements.shape[0], freq="10.869565ms")
#df_sub2_ankle_movements = df_sub2_ankle_movements.resample('10ms', origin='start').first().interpolate()

df_sub2_ankle = pd.concat([df_sub2_ankle_dribbling, df_sub2_ankle_layup, df_sub2_ankle_shooting, df_sub2_ankle_movements])
#df_sub2_ankle.index = pd.date_range(start='2021-04-14 19:26:42.914000', periods = df_sub2_ankle.shape[0], freq="10L")
df_sub2_ankle.sort_index()

                                 acc_x    acc_y      acc_z
2021-04-14 18:55:50.361000000 -0.35400  0.43384  -0.84033;
2021-04-14 18:55:50.371869565 -0.34302  0.43701  -0.85181;
2021-04-14 18:55:50.382739130 -0.34399  0.43140  -0.85742;
2021-04-14 18:55:50.393608695 -0.34595  0.43262  -0.86060;
2021-04-14 18:55:50.404478260 -0.34741  0.43311  -0.85498;
...                                ...      ...        ...
2021-04-14 19:43:02.175774550 -0.97095 -0.18701  -0.06177;
2021-04-14 19:43:02.186644115 -0.98047 -0.19702  -0.04956;
2021-04-14 19:43:02.197513680 -0.99463 -0.19604  -0.06299;
2021-04-14 19:43:02.208383245 -1.00171 -0.17261  -0.08545;
2021-04-14 19:43:02.219252810 -0.98828 -0.16504  -0.09009;

[134319 rows x 3 columns]

In [39]:
df_sub2_wrist_dribbling = pd.read_csv('..\sensor_data\dribbling_sbj2_wrist.csv', index_col=0)
df_sub2_wrist_dribbling.index = pd.date_range(start='2021-04-14 ' + df_sub2_wrist_dribbling.index[0], periods = df_sub2_wrist_dribbling.shape[0], freq="10.869565ms")
#df_sub2_wrist_dribbling = df_sub2_wrist_dribbling.resample('10ms', origin='start').first().interpolate()

df_sub2_wrist_layup = pd.read_csv('..\sensor_data\layup_sbj2_wrist.csv', index_col=0)
df_sub2_wrist_layup.index = pd.date_range(start='2021-04-14 ' + df_sub2_wrist_layup.index[0], periods = df_sub2_wrist_layup.shape[0], freq="10.869565ms")
#df_sub2_wrist_layup = df_sub2_wrist_layup.resample('10ms', origin='start').first().interpolate()

df_sub2_wrist_shooting = pd.read_csv('..\sensor_data\shooting_sbj2_wrist.csv', index_col=0)
df_sub2_wrist_shooting.index = pd.date_range(start='2021-04-14 ' + df_sub2_wrist_shooting.index[0], periods = df_sub2_wrist_shooting.shape[0], freq="10.869565ms")
#df_sub2_wrist_shooting = df_sub2_wrist_shooting.resample('10ms', origin='start').first().interpolate()

df_sub2_wrist_movements = pd.read_csv('..\sensor_data\movements_sbj2_wrist.csv', index_col=0)
df_sub2_wrist_movements.index = pd.date_range(start='2021-04-14 ' + df_sub2_wrist_movements.index[0], periods = df_sub2_wrist_movements.shape[0], freq="10.869565ms")
#df_sub2_wrist_movements = df_sub2_wrist_movements.resample('10ms', origin='start').first().interpolate()

df_sub2_wrist = pd.concat([df_sub2_wrist_dribbling, df_sub2_wrist_layup, df_sub2_wrist_shooting, df_sub2_wrist_movements])
#df_sub2_wrist.index = pd.date_range(start='2021-04-14 19:26:24.464000', periods = df_sub2_wrist.shape[0], freq="10L")
df_sub2_wrist.sort_index()

                                 acc_x    acc_y      acc_z
2021-04-14 18:56:21.470000000  0.20972 -0.04395  -0.18628;
2021-04-14 18:56:21.480869565  0.16040 -0.00146  -0.15186;
2021-04-14 18:56:21.491739130  0.07617  0.11768  -0.09424;
2021-04-14 18:56:21.502608695  0.03687  0.15186   0.03882;
2021-04-14 18:56:21.513478260 -0.00098  0.16260   0.18750;
...                                ...      ...        ...
2021-04-14 19:42:18.218297685  0.83032  0.40356  -0.51953;
2021-04-14 19:42:18.229167250  0.83960  0.40869  -0.53882;
2021-04-14 19:42:18.240036815  0.84497  0.39966  -0.53345;
2021-04-14 19:42:18.250906380  0.82813  0.37451  -0.46191;
2021-04-14 19:42:18.261775945  0.83447  0.32568  -0.40015;

[120138 rows x 3 columns]

In [40]:
df_sub2 = pd.concat([df_sub2_esense, df_sub2_ankle, df_sub2_wrist], axis=1, join="inner")
df_sub2

Empty DataFrame
Columns: [Device, 1, 2, 3, 4, 5, 6, Label, acc_x, acc_y, acc_z, acc_x, acc_y, acc_z]
Index: []